#content {
  padding-left: 3.5vw;
  padding-right: 3.5vw;
  padding-top: 3vw;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  position: relative;
  // border: 1px solid grey;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  // border: 1px solid green;
  margin: 0 auto;
  @include desktop {
    width: 70vw;
    flex-direction: row;
    justify-content: space-between;
  }
}

.post {
  height: 120vw;
  // border: 0.1vw solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include desktop {
    height: 45vw;
  }
}

a h1 {
  font-size: 3.5vw;
  color: $black;
  @include desktop {
    font-size: 1.2vw;
  }
}
a h1:hover {
  font-size: 3.8vw;
  font-weight: 600;
  text-decoration: none;
  @include desktop {
    font-size: 1.3vw;
  }
}

.cover_small {
  border: 1px solid grey;
  margin: 0vw 0vw 0vw 2vw;
  box-shadow: 1vw 1vw 2vw #888888;
  width: 70vw;
  height: 99.14vw;
  @include desktop {
    width: 25vw;
    height: 35.4vw;
    margin: 0vw 3vw 0vw 3vw;
  }
}

#single-nav h3 a {
  background-color: green;
  color: white !important;
  padding: 0.1vw;;
}

.myfooter {
  display: inline-block;
}

.navigation {
  display: flex;
  justify-content: center;
  height: 4vw;
  margin: 3vw;
  // border: 1px solid red;
}
.wp-pagenavi {
  height:  6.5vw;
  // border: 0.1vw solid red;
  display: flex;
  justify-content: center;
  align-items: stretch;
  font-size: 3vw;
  @include desktop {
    height:  4.5vw;
    font-size: 1.8vw;
  }
  span, a  {
    border: 0.1vw solid $primary_color_middle;
    background-color: $primary_color_very_light;
  }
}
