#main {
  width: 100vw;
  margin-left: 2vw;
  display: flex;
  padding-top: 3vw;
}

#content-redaktor {
  // border: 0.1vw solid yellow;
  @include desktop {
      width: 34vw;
  }
}
.content-redaktor {
  width: 40vw;
  margin-left: 1vw;
  // border: 0.1vw solid blue;
}
.redaktor {
  width: 60vw;
  // border: 0.1vw solid green;
  display: flex;
  flex-direction: column;
  @include desktop {
    width: 35vw;
    height: 40vw;
    margin-top: 0;
    .row {
      min-height: 20vw;
    }
  }
}
.single-redaktor {
  @include desktop {
    width: 70vw;
    border: 0.1vw solid red;
    display: flex;
    .row {
      width: 70vw;
    }
  }
}

.row {
  width: 90vw;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: flex-start;
  // border: 0.1vw solid green;
  margin: 0;
  :before,
  :after {
    display: table;
    content: " ";
    clear:both;
  }
    @include desktop {
    width: 35vw;
  }
}
.col {
  // border: 0.1vw solid red;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.picture {
  // border: 0.1vw solid red;
  width: 30vw;
  @include desktop {
    width: 14vw;
  }
}
img{
  width: 24vw;
  margin: 1vw;
  border: 0.1vw solid grey;
  @include desktop {
    width: 12vw;
  }
}

.name{
  width: 79vw;
  padding-top: 1vw;
  // border: 0.1vw solid blue;
  text-align: left;
  h1 {
    font-size: 5vw;
    font-weight: 700;
    padding: 0;
    margin: 0;
  }
  @include desktop {
    width: 30vw;
    height: 6vw;
    text-align: left;
    h1 {
      font-size: 2vw;
      font-weight: 700;
      padding: 0;
      margin: 0;
    }
  }
}

.dates {
  display: block;
  height: 10vw;
  // border: 0.1vw solid blue;
  font-size: 3.2vw;
  @include desktop {
    font-size: 1.4vw;
    width: 30vw;
    height: 6vw;
  }
}

.description {
  width: 100vw;
  padding: 1.5vw;
  margin-left: 1vw;
  margin-bottom: 4vw;
  font-size: 3.2vw;
  float: left;
  // border: 0.1vw solid red;
  @include desktop {
    box-sizing: border-box;
    width: 44vw;
    font-size: 1.5vw;
    padding: 0.5vw;
  }
}
p {
  // text-align: justify;
}
form p, strong {
  text-align: left;
}

.archive-redaktors {
  // border: 0.1vw solid red;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  @include desktop {
    width: 68vw;
    flex-direction: row;
    margin-bottom: 1vw;
  }

}
iframe {
  width: 100vw;
}
hr {
  color: black;
  margin-top: 1vw;
  margin-bottom: 3.5vw;
  margin-left: 15vw;
  margin-right: 15vw;

  @include desktop {
    margin-top: 5vw;
  }
}
