#single {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-right: 1vw;
  padding-left: 1vw;
  // border: 1px solid grey;
}
.content-area {
  // border: 1px solid black;
}
//
// .download {
//   float: right;
//   flex-wrap: wrap;
//   justify-content: center;
//   width: 50vw;
//   padding-left: 1vw;
//   padding-top: 10vw;
// }
// .see_on_line, .download a {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border: 1px solid black;
//   font-size: 1.2vw;
//   font-weight: bold;
//   height: 6vw;
//   margin: 3vw;
//   padding: 1vw;
// }
//
// .wide p {
//   text-align: center;
// }
iframe {
  width: 100vw;;;
  // border: 0.1vw solid red;
}
.flowpaper-class {
  height: 100vh;
}
