$desktop-min-width: 601px;
@mixin desktop {
  @media (min-width: "$desktop-min-width") {
    @content;
  }
}
// $primary_color_very_light: #e9e9e9;
// $primary_color_light: #d7d5d5;
// $primary_color_middle: #bdbb92;
// $primary_color_dark: #6f6f6f;
// $primary_color_very_dark: #2a1d1d;
// $white: #ffffff;
// $black: #000000;
//
$primary_color_very_light: #dbfffc;
$primary_color_light: #9bcafc;
$primary_color_middle: #a3b9fc;
$primary_color_dark: #030078;
$primary_color_very_dark: #03002a;
$white: #ffffff;
$black: #000000;

// $primary_color_very_light: #d1ff7c;
// $primary_color_light: #76e400;
// $primary_color_middle: #009d00;
// $primary_color_dark: #004f00;
// $primary_color_very_dark: #002600;
// $white: #ffffff;
// $black: #000000;
